<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add link</title>
  </head>
  <body>
      <h1>Enter a new link</h1>
      <form action="/" method="POST">
        <input type="text" name="new_link" placeholder="Enter a link here...">
        <input type="submit" value="Submit link">
      </form>
  </body>
</html>
