<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add link</title>
  </head>
  <body>
      <h1>Enter a new link</h1>
      <% if flash[:invalid_link] %>
      <div id='flash'>
        <div class='flash invalid_link'>
          <h1>Sorry, "<%= flash[:invalid_link] %>" is not a valid link</h1>
        </div>
      </div>
      <% end %>
      <form action="/" method="POST">
        <input type="text" name="url" placeholder="Enter a link here...">
        <input type="text" name="title" placeholder="Enter a title here...">
        <input type="submit" value="Submit link">
      </form>
      <!-- <form class="/" method="GET">
        <input type="submit" value="Back to links">
      </form> -->
  </body>
</html>
